<%
fixtures = [
  {
    id: 1,
    url: 'http://google.com',
    title: 'Google.com',
    description: 'Search engine',
    tags: %w(search-engine google),

    thumbnail: '/mockup/httpgooglecom.png'
  },
  {
    id: 2,
    url: 'http://facebook.com',
    title: 'Facebook',
    description: 'Social media network, lorem ipsum dolor sit amet',
    tags: %w(social-media social-network friends photos),

    thumbnail: '/mockup/httpfacebookcom.png'
  },
  {
    id: 3,
    url: 'http://onet.pl',
    title: 'Onet.pl',
    description: 'Dzisiaj w Onet.pl: wiadomości z kraju i ze świata; biznes, sport, rozrywka i pogoda. Sprawdź pocztę, bloguj, czatuj i umawiaj się na randki.',
    tags: %w(news mail chat politics technology),

    thumbnail: '/mockup/httponetpl.png'
  }
]
fixtures.map! { |f| OpenStruct.new(f) }
%>

<% fixtures.each do |bookmark| %>
<div class="panel panel-default panel-bookmark panel-bookmark-collapsed" id="bookmark-<%= bookmark.id %>">
  <a class="collapse-trigger">
    <i class="glyphicon glyphicon-chevron-down"></i>
  </a>

  <div class="thumbnail pull-right">
    <img src="<%= bookmark.thumbnail %>" alt="" width="300" height="225"/>
  </div>

  <div class="content">
    <h1>
      <a href="<%= bookmark.url %>"><%= bookmark.title %>
        <i><%= bookmark.url %></i></a>
    </h1>
    <div class="description">
      <%= bookmark.description %>
    </div>
    <div class="tags">
      <% bookmark.tags.each do |tag| %>
      <a href="#search=tag:<%= tag %>"><span class="label label-default"><%= tag %></span></a>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('a.collapse-trigger').click(function() { $(this).parents('.panel-bookmark').toggleClass('panel-bookmark-collapsed'); $(this).find('i').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-up') });
  });
</script>